# 共通
.git
.gitignore
.env*
*.log
README.md
**/node_modules
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.coverage
**/coverage
**/.next
**/.DS_Store

# フロントエンド固有
frontend/.next
frontend/coverage
frontend/.eslintrc.json
frontend/jest.config.ts
frontend/postcss.config.js
frontend/tailwind.config.ts
frontend/tsconfig.json

# バックエンド固有
backend/__pycache__
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/.Python
backend/env
backend/pip-log.txt
backend/pip-delete-this-directory.txt
backend/.tox
backend/.coverage
backend/.coverage.*
backend/.cache
backend/nosetests.xml
backend/coverage.xml
backend/*.cover
backend/*.log
backend/.pytest_cache
backend/.env
backend/.venv
backend/.DS_Store
backend/htmlcov
backend/*.egg-info
backend/dist
backend/build
backend/node_modules